<!DOCTYPE html>

<html>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
        <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>SafeSkies</title>
        <link href = "/assets/stylesheets/style.css" rel = "stylesheet" type="text/css"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    
    <body>
      
       <nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top">
         <div class = "container">
           
          <img class="fade" src = "/assets/images/safeskies.png" width="45" height="45" >
          <a class="navbar-brand fade" href="/">SafeSkies</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class = "nav-item" id = "contact">
                  <a class = "nav-link fade" href = "https://devpost.com/software/safeskies-ld27w5" target="_blank">More Info</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
        <div class = "element">
          <h1 style = "padding-bottom: 1rem" class="display-4 fade">Hassle Free Flying</h1>
          <p class="lead fade" style = "padding-bottom: 1rem;">In-flight safety has finally arrived</p>
          <p style = "padding-bottom: 1rem;" class="fade">There when you need us</p>
          <a class="btn btn-primary btn-lg fade" href="/signin" role="button">Client Demo</a>
          <a class="btn btn-primary btn-lg fade" href="admin/login" role="button">Admin Demo</a>
        </div>
      </div>
      
      
      <div class="container info-cards">
        <div class="row">
          <div class="col-sm">
            <div class="card fade" style="width: 18rem;">
              <img class="card-img-top" src="/assets/images/boomboom.png" height = "290px" width = "100px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Streamlined Support</h5>
                <p class="card-text">Quick and easy to follow steps to ensure you get the help you need in moments using our live-chat system.</p>
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
              </div>
            </div>
          </div>
          
          <div class="col-sm">
            <div class="card fade" style="width: 18rem;">
              <img class="card-img-top" src="/assets/images/translate.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Message Translation Technology</h5>
                <p class="card-text">We value all our passengers, and have extended our support to non-English speakers. Using Google Translation services, you can receive translated support messages in real-time.</p>
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
              </div>
            </div>
          </div>
          
          <div class="col-sm">
            <div class="card fade" style="width: 18rem;">
              <img class="card-img-top" src="/assets/images/locked.jpg" height = "310px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Private Conversations</h5>
                <p class="card-text">Your message to support staff will not be shared or made known to any passengers.</p>
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <!--Footer-->
      <footer>
        <div>
          <div class="row">
            <div id="handleThisBootStrap">
              <h5 class="text-uppercase">SafeSkies</h5>
              <p>Discrete security at your fingertips</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
          </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2018 SafeSkies, Inc. All Rights Reserved.
          <a href="/signatures">Made with <span><img src="http://www.iconarchive.com/download/i66645/designbolts/free-valentine-heart/Heart.ico" alt="heart icon" height = "15rem" width = "15rem"></span> by the Brogrammers</a>
        </div>
      </footer>
  
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="/assets/js/landing.js"></script>
    </body>
</html>